<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="User ID=postgres;Password=erwinrommel7;Server=localhost;Port=5432;Database=teacher_plan;Integrated Security=true;Pooling=true;" />
  </connectionStrings>
  <appSettings>
    <add key="TemplateFile" value="Template.docx" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>